<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="icon" type="image/svg+xml" href="{{ "/assets/favicon.svg" | relative_url }}">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <link rel="stylesheet" href="{{ "/assets/css/dark-mode.css" | relative_url }}">

  </body>

</html>
